/* ----------------------------------------------------------------------------- */
/* -------------navbar---------- */


.nav-section a:hover{
    
    
    transition: 0.7s ease;
    font-weight: bold;
    background-color: rgb(168, 171, 171);
    

}
.floting{
    position: fixed;
    bottom: 0;
    right: 0;

}
.b1:hover{
    background: #ffc107;
}
.our-services::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #c02525;
    margin: 8px auto 0;
    border-radius: 40px;
}
.services div:hover{
    
    
    background-color: #031a3e;
}
.location-section::after{
    content: "";
    height: 4px;
    width: 60px;
    display: block;
    background-color: #c02525;
    margin-bottom: 20px;
    border-radius: 40px;
    
}
.form-section::after{
    content: "";
    height: 4px;
    width: 60px;
    display: block;
    background-color: #c02525;
    margin-bottom: 20px;
    border-radius: 40px;

}





/* projects */
.projects-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
  text-decoration: none; 
}
.footer-section{
    background-color: #082e6a;
    list-style: none;
}
.footer-section li{
    padding-left: 10px;
    padding-bottom: 10px;

}
.footer-section h2{
    padding-bottom: 10px;
}
.footer1{
    list-style: none;
}
.footer1 img{
    
    border-radius: 100%;
    padding: 5px;
    background-color: #2f3e96;
    margin-bottom: 5px;
}
.footer1 li{
    margin-top: 2px;
}




  .hero-section button{
    margin-right: 10px;
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px;
  }
  @media (min-width: 320px) and (max-width: 575px) { 
    
    .hero-section img{
        width: 100%;
        height: auto;
    }
    .hero-section button{
        margin-bottom: 40px;
    }
    .side-image img{
        width: 100%;
        height: auto;
    }
    .side-image1 img{
        width: 50px;
    }
    .project-section img{
        width: 100%;
        height: 100%;
    
    }
    
    .projects-content{
        width: 100%;
    }
    .services{
        margin-bottom: 20px;
    }
    .content-img img{
        width: 100%;
    }
    .content-img1{
        text-align: center;
    }

    .map-section iframe{
        width: 100%;
        height: 100%;
    }
    .form11{
        margin-top: 15px;
    }
    .img-section{
        margin-bottom: 30px;
    }
}
@media (min-width: 576px) and (max-width: 769px) { 
    .project-section img{
        width: 100%;
        height: 100%;
    
    }
    .side-image img{
        width: 100%;
        height: auto;
    }
    .side-image11 h3{
        margin: 10px;

    }
    .map-section iframe{
        width: 100%;
        height: 400px;
    }
    .content-img img{
        width: 100%;
    }
    .footer1{
        width: 100%;
    }
    .services{
        margin-bottom: 20px;
    }

 }

@media (min-width: 769px) and (max-width: 1198.98px) { 
    .hero-section img{
        width: 100%;
        height: auto;
    }
    .hero-section button{
        margin-bottom: 40px;
    }
    .side-image img{
        width: 100%;
        height: auto;
    }
    .side-image1 img{
        width: 50px;
    }
    .project-section img{
        width: 100%;
        height: 100%;
    
    }
    .projects-content{
        width: 100%;
    }
    .content-img img{
        width: 100%;
    }
    .map-section iframe{
        width: 100%;
        height: 100%;
    }
     .footer1{
        width: 100%;
    }
 }
 @media (min-width: 1199.98px) and (max-width: 1399.98px) {
    .hero-section img{
        width: 100%;
        height: auto;
    }
    .hero-section button{
        margin-bottom: 40px;
    }
    .side-image img{
        width: 100%;
        height: auto;
    }
    .side-image1 img{
        width: 50px;
    }
    .project-section img{
        width: 100%;
        height: 100%;
    
    }
    .projects-content{
        width: 100%;
    }
    .content-img img{
        width: 100%;
    }
    .map-section iframe{
        width: 100%;
        height: 100%;
    }

  }
  